<div class="nav">
    <mat-grid-list cols="9" rowHeight="4:3">
        <mat-grid-tile><mat-icon class="burger" (click)="drawer.toggle()" style="cursor: pointer;">menu</mat-icon></mat-grid-tile>
		<mat-grid-tile><img class="power-logo" alt="power-shell" src="../../assets/image Power-Sell/Power-Shell.png"></mat-grid-tile>
		<mat-grid-tile><img class="bar-button" alt="carre" src="../../assets/image Power-Sell/logo carré.png"></mat-grid-tile>
		<mat-grid-tile><img class="bar-button" alt="triangle" src="../../assets/image Power-Sell/logo triangle.png"></mat-grid-tile>
		<mat-grid-tile><img class="logo" alt="logo" src="../../assets/image Power-Sell/raccoon.png"></mat-grid-tile>
		<mat-grid-tile><img class="bar-button" alt="croix" src="../../assets/image Power-Sell/logo X.png"></mat-grid-tile>
        <mat-grid-tile><img class="bar-button" alt="rond" src="../../assets/image Power-Sell/logo O.png"></mat-grid-tile>
        <mat-grid-tile colspan="2"><app-user style="width: 100%; height: 100%;"></app-user></mat-grid-tile>
	</mat-grid-list>
</div>
<mat-grid-list cols="9" rowHeight="30px">
    <mat-grid-tile colspan="2"></mat-grid-tile> <!-- spacer -->
    <mat-grid-tile class="info">Actualité</mat-grid-tile>
    <mat-grid-tile class="info">Serveurs/Jeux</mat-grid-tile>
    <mat-grid-tile class="info">Accueil</mat-grid-tile>
    <mat-grid-tile class="info">forum</mat-grid-tile>
    <mat-grid-tile class="info">Serveur status</mat-grid-tile>
</mat-grid-list>
<mat-drawer-container class="mycontainer" autosize>
    <mat-drawer #drawer mode="over">
        <button mat-button>phylososhell</button>
        <button mat-button>phylos</button>
        <button mat-button>phylosor <br> test</button>
    </mat-drawer>
    <mat-drawer-content>
        <div class="page-container">

        </div>
    </mat-drawer-content>
</mat-drawer-container>