
.mycontainer{
    height: 100%;
    margin-top: -34px;
}

.burger{
    scale: 4;
    color: grey;
}

.nav{
    display: inline-block;
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
}

.info{
    margin-top: -4px;
    background-color: black;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    color: white;
}

button{
    background-color: orange;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 40px;
    font-size: 1.2vw;
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
}

.page-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    height: 100%;
    background-color: rgba(255, 254, 245,0.6);
    overflow: hidden;
}

mat-drawer-container{
    background-color: rgba(0,0,0,0.05);
    align-content: center;
}

.mat-drawer-content{
    overflow: hidden;
}
mat-drawer{
    min-width: 8%;
    max-width: 10%;
    background-color: rgba(10, 10, 10, 0.8);
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    opacity: 0%;
    transition: none;
}

::ng-deep .mat-drawer-transition .mat-drawer-backdrop{
    transition-duration: 0.0ms !important;
}