.usrComponent{
    height: 100%;
    background-color: blue;
}

.userimage{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 10%;
}

button{
    display: inline-block;
    background-color: orange;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 40px;
    font-size: 1vw;
    width: 40%;
}